* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
}

body {
  min-width: 320px;
  padding: 0;
  margin: 0;
  font-family: var(--fonts-family-golos, system-ui), sans-serif;
  font-size: 16px;
  line-height: 135%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizespeed;
  text-size-adjust: 100%;
}
