@use '../../theme/theme';

.marquee {
  height: 38px;
  padding: 11px 0;
  overflow: hidden;
  font-family: var(--fonts-family-merriweather), serif;
  color: var(--color-white);
  background-color: var(--color-red);

  @include theme.xl {
    height: 60px;
    padding: 20px 0;
  }

  // .marquee__item
  &__item {
    position: relative;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;

    @include theme.xl {
      font-size: 22px;
    }

    &::before {
      position: absolute;
      top: 50%;
      right: -15px;
      width: 6px;
      height: 6px;
      content: '';
      background-color: var(--color-white);
      border-radius: 50%;
      transform: translate(50%, -50%);
    }
  }

  // .marquee .js-marquee
  .js-marquee {
    display: inline-flex;
    flex-direction: row;
    gap: 30px;
  }
}
